/* Css for Main Body/Canvas overFlow*/
body {
  margin: 0;
  overflow:hidden
}

/* Css for Progress Bar*/
.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

label {
  color: rgba(255, 253, 208, 1);
  font-size: 5rem;
}

g {
  fill: rgb(255, 253, 208);
}



/* New Button Group */


.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  left: 50%;
  top: 89%;
  transform: translate(-50%, -50%);
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.1em;
  margin-left: 0.5em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1em;
  margin-left: -1.5em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  transition: .2s ease-in-out;
}

.github {
  margin-bottom: 1em;
  margin-left: 1em;
  fill: black;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  transition: .2s ease-in-out;
}

.discord {
  margin-bottom: 0.5em;
  margin-left: -1em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}


/*Button Loading animations */

.lds-hourglass {
  /* change color here */
  color:rgb(255, 253, 208)
}
.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: none;
  position: absolute;
  left: 50%;
  top: 89%;
  transform: translate(-50%, -50%);
  width: 188px;
  height: 188px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 22px;
  box-sizing: border-box;
  border: 70px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}